.row-container {
  display: flex;
  justify-content: space-around;
}

.div1, .div2 {
  padding: 10px;
  margin: 5px;
}
.row-container2 {
  display: flex;
}

.div3, .div4 {
  width: 500px;
  height: 50px;
  padding: 10px;
  margin: 10px;
}

.message {
  width: 96%;
  margin-left: 18px;
  padding: 0;
}

.custom-button {
  background-color: white; /* Background color */
  color: black; /* Text color */
  border: none; /* Remove the button border */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Show a pointer cursor on hover */
  font-size: 12px; /* Font size */
  margin-top:12px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.custom-button:hover {
  background-color: black; /* Change background color on hover */
  color:white;
}