.link-box{
  color: black;
  width: 6rem;
  text-align: center;
}

.link-box:hover {
  background-color: rgba(237, 244, 253, 0.28);
}

.link-box:active {
  background-color: rgba(237, 244, 253, 0.755);
}

.nav-link {
  color:#2a2a2b;
  font-weight: 300;
}
.nav-link:hover{
  font-weight: 500;
}
.nav-link:active{
  font-weight: 600;
}

/* ------------ footer ------------ */
.footer-container {
  position:fixed;
  display: flex;
  flex-direction: row;
  padding: 1rem 4rem;
  justify-content: space-around;
  align-items: baseline;
  background-color: gray;
  bottom: 0;
  left:0;
  min-width: 100vw;
  height: 15vh;
  max-height:fit-content;

}

.footer-grid {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1rem;
}

.MuiListItem-root  {
  font-size: small;
  justify-content: center;
}

.MuiListItem-root:hover {
  color:rgba(225, 225, 225, 0.888)
}

.MuiButtonBase-root:hover {
  color:#5db3fad0;
  background-color: transparent;
}

.info-stack {
  text-align: left;
  padding: 2px 2rem;
  font-size: small;
}