
.link-box:active {
  background-color: rgba(237, 244, 253, 0.755);
}

.nav-link {
  color:#2a2a2b;
  font-weight: 400;
}
.nav-link:hover{
  font-weight: 800;
  text-decoration: underline;
}


/* ------------ footer ------------ */
.footer-container {
  position:fixed;
  display: flex;
  flex-direction: row;
  padding: 1rem 4rem;
  justify-content: space-around;
  align-items: baseline;
  background-color: gray;
  top:auto;
  bottom: 0;
  left:0;
  min-width: 100vw;
  min-height:fit-content;
}
@media (max-width:600px) {
  .footer-container {
    padding:1rem
  }
}

.footer-grid {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1rem;
}

.MuiListItem-root  {
  font-size: small;
  justify-content: center;
}

.MuiListItem-root:hover {
  color:rgba(225, 225, 225, 0.888)
}

.MuiButtonBase-root:hover {
  color:#5db3fad0;

  background-color: transparent;
}

.info-stack {
  text-align: left;
  padding: 2px 2rem;
  font-size: small;
}

.footer-title {
  color:#2a2a2b;
  font-weight: 800;
  text-decoration: none;
}