@tailwind base;
@tailwind components;
@tailwind utilities;

.link-box:active {
  background-color: rgba(237, 244, 253, 0.755);
}

.nav-link {
  color:#2a2a2b;
  font-weight: 400;
}
.nav-link:hover{
  font-weight: 800;
  text-decoration: underline;
}


/* ------------ footer ------------ */

.footer-main {
  display: flex;
  flex-direction: row;
  padding: 1rem 4rem;
  justify-content: space-around;
  align-items: baseline;
}

@media (max-width:600px) {
  .footer-container {
    padding:1rem
  }
}
@layer components {
  .footer-grid {
    @apply flex flex-col flex-wrap justify-center items-center p-1
  }

}
.footer-grid {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1rem;
}


.MuiListItem-root  {
  font-size: small;
  justify-content: center;
}

.MuiListItem-root:hover {
  text-shadow:1px 1px 3px #5db3fa5d;
}

.MuiButtonBase-root:hover {
  color:#5db3fad0;

  background-color: transparent;
}

.info-stack {
  text-align: left;
  padding: 2px 2rem;
  font-size: small;
}

.footer-title {
  color:#2a2a2b;
  font-weight: 800;
  text-decoration: none;
}