.link-box{
  color: black;
  width: 6rem;
  text-align: center;
}

.link-box:hover {
  background-color: rgba(196, 221, 255, 0.28);
}

.link-box:active {
  background-color: rgba(196, 221, 255, 0.843);
}

.nav-link {
  color:#2a2a2b;
  font-weight: 300;
}
.nav-link:hover{
  font-weight: 500;
}
.nav-link:active{
  font-weight: 600;
}